html *
{
   font-family: 'shareTech', sans-serif;
}

@font-face {
font-family: "hairline";
src: url("hairline.ttf");
}

@font-face {
font-family: "shareTech";
src: url("shareTech.ttf");
}

#title {
  font-family: 'hairline', sans-serif;
  font-size:70px;
  color: #4B87CF;
  }
body {
background-color: #EEE;
}

table {
    border-collapse: collapse;
}

#rowsCount {
width: 70px;
}
#rowsCount, .inputLabel, #startDate, #endDate{
  height: 36px;
  float: left;
  text-align: right;
  border-radius: 5px;
  font-size: 30px;
  display: inline-block;
  color: #4BCF93;
  }

th, td {
    padding: 15px;
}
#labelTable tr:nth-child(even) {
  background-color: #b7e9eb;
}

#labelTable {
    text-align: left;
    width:85%;
    color: #514BCF;
    border-radius:100px;
    font-size: 15px;
}

#searchBar{
  height: 45px;
  width:80%;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 30px;
  background: url(magnifyingGlass.png) no-repeat scroll 7px 7px;
  padding-left:60px;
  
}

body {text-align:center;}
table.center {
  margin-left:auto; 
  margin-right:auto;
}
.coin {
    border: none;
    color: white;
    padding: 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    margin: 12px;
    width:20%;
    border-radius:5px; 
    font-family: 'hairline', sans-serif;
}

#bch.active, bch:hover {
    background-color: #4BCF51;
    color: white;
}

#btc.active, #btc:hover {
    background-color: #FF9900;
    color: white;
}
#btc {
    border: 2px solid #FF9900;
    color: #FF9900;
}

#bch {
    border: 2px solid #4BCF51;
    color: #4BCF51;
}

.smallButton {
  width: 200px;
  height: 36px;
  font-size: 20px;
  border: 2px solid #4BCF51;
  background-color: inherit;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  color: #4BCF51;
}

.smallButton:hover {
    background-color: #4BCF51;
    color: white;
}

#rowsCount, #startDate, #endDate{
  background-color: #EEE;
  border: 1px solid black;
}
  
thead {
  background-color: #868d8d;
  font-size: 17px;
  padding: 2px;
  color: white;
  }
